 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';
@import url(http://fonts.googleapis.com/css?family=News+Cycle|Chelsea+Market);

// Custom Styles

$color1: #063260;
$color2: #13587F;
$color3: #1F80B7;
$color4: #2B9AB9;
$color5: #89C6EC;
$color6: #C5E287;

body{
  background-image: url('../images/ocean.png');
  color: $color6;
  background-size: 100% 1000px;
  background-repeat: no-repeat;
}

header{
  opacity: .8;
  height: 100px;
  border: solid $color3 5px;
  border-radius: 15px;
  background-color: $color1;

  h1{
    font-family: Chelsea Market;
    text-align: center;
  }


}


#membership{
  margin-top: 100px;

  img{
    height: 500px;
    width: 100%;
  }
}

#side{
  margin-top: 40px;
  text-align: center;
  font-family: News Cycle;
  button{
    @include button(pill);
    a{
      color: $color6;
      text-decoration: none;
    }
  }
}

#events{
  opacity: .8;
  margin-top: 50px;
  width: 100%;
  border: solid $color3 5px;
  border-radius: 15px;
  background-color: $color4;
  text-align: center;
  @include outer-container;

  h1{
    text-align: center;
    font-size: 3em;
    font-family: Chelsea Market;
  }
  h2{
    float: left;
  }

  h3{
    float: right;
  }

  .gallery{
    clear: left;
    list-style: none;
    font-family: News Cycle;
    font-size: 1em;

  }

}

#apply{
  opacity: .95;
  @include outer-container;

  div{
    text-align: center;
    margin-top: 45px;
    position: absolute;
      left: 0px;
    border-radius: 15px;
    border: solid $color3 5px;
    height: 300px;
    @include span-columns(6);
    background-color: $color4;
    h1{
      font-size: 1em;
      font-family: Chelsea Market;
    }
    h2{
      font-size: .5em;
    }
    a{
      font-size: .3em;
    }
    p{
      font-size: .3em;
    }
  }

  form{
    @include span-columns(6);
    margin-top: 45px;
    margin-right: 10px;
    position: absolute;
      right: 0px;
    background-color: white;
    color: black;
    border-radius: 15px;
    border: solid $color4;
    text-align: center;
    font-family: News Cycle;

    input{
      margin-top: 10px;
      border-radius: 15px;
      padding: 10px;
    }

    button{
      @include button(pill);
      margin-bottom: 10px;
    }
  }


}


section{
  margin-top: 100px;
  background-color: $color4;
  border: solid $color3 5px;
  border-radius: 15px;
  margin-right: 10px;
  height: 100px;
  width: 100%;
  font-family: Chelsea Market;
  text-align: center;

  nav{
    margin-top: 40px;
    background-color: $color4;
    border: solid $color3 5px;
    padding-top: 20px;
    border-radius: 15px;

    a{
      text-decoration: none;
      font-size: 2em;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

#animals{
  @include outer-container;
  margin-top: 100px;
  width: 100%;
  height: inherit;

  .animalContainer{
    background-color: $color4;
    padding: 10px;
    border: solid $color3 5px;
    border-radius: 15px;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    @media screen and (min-width: 500px){
      @include span-columns(3);
    }

    img{
      height: 150px;
      border-radius: 15px 15px 0 0;
      width: 100%;
    }
  }
}

#fishies{
  width: 100%;
  height: inherit;
  margin-top: 100px;


  .fishContainer{
    background-color: $color4;
    padding: 10px;
    border: solid $color3 5px;
    border-radius: 15px;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    @media screen and (min-width: 500px){
      @include span-columns(3);
    }


    img{
      height: 150px;
      border-radius: 15px 15px 0 0;
      width: 100%;
    }
  }
}

footer{
  position: fixed;
    bottom: 0px;
  height: 50px;
  width: 100%;
  background-color: $color1;

  img{
    margin-left: 20px;
    height: 55px;
    width: 130px;
    z-index: 9999;
  }

  #social{
    float: right;

    button{
      margin-top: 10px;
      margin-right: 10px;
      @include button(pill);
    }
  }
}
