 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';
@import url(http://fonts.googleapis.com/css?family=News+Cycle|Chelsea+Market);

// Custom Styles

$color1: #063260;
$color2: #13587F;
$color3: #1F80B7;
$color4: #2B9AB9;
$color5: #89C6EC;
$color6: #C5E287;

body{
  background-color: $color5;
  color: $color6;

}

header{
  height: 100px;
  margin-right: 10px;
  margin-left: 10px;
  border: solid $color3 5px;
  border-radius: 15px;
  background-color: $color4;

  h1{
    font-family: Chelsea Market;
    text-align: center;
  }


}

#membership{
  margin-top: 100px;

  img{
    height: 500px;
    width: 100%;
  }
}

#side{
  margin-top: 40px;
  text-align: center;
  button{
    @include button(pill);
  }
}
#events{
  margin-top: 100px;
  width: 100%;
  border: solid $color3 5px;
  border-radius: 15px;
  background-color: $color4;
  text-align: center;
  @include outer-container;

  #click{
    height: 100px;
    border-radius: 15px;
    border: $color5 solid 5px;
    @include span-columns(5);

  }

  #hide{
    @include span-columns(5);
    height: 100px;
    border-radius: 15px;
    float: right;
    border: $color5 solid 5px;
  }

  .gallery{
    clear: left;
    list-style: none;

  }

}

#apply{
  position: absolute;
    top: 200px;

}


section{
  margin-top: 100px;
  height: 100px;
  width: 100%;
  text-align: center;

  nav{
    padding-top: 20px;

    a{
      text-decoration: none;
      font-size: 2em;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

#animals{
  @include outer-container;
  width: 100%;
  height: inherit;

  .animalContainer{
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    @media screen and (min-width: 500px){
      @include span-columns(3);
    }

    img{
      height: 150px;
      border-radius: 15px 15px 0 0;
      width: 100%;
    }
  }
}

#fishies{
  width: 100%;
  height: inherit;

  .fishContainer{
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    @media screen and (min-width: 500px){
      @include span-columns(3);
    }


    img{
      height: 150px;
      border-radius: 15px 15px 0 0;
      width: 100%;
    }
  }
}
