<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Aquarium App</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <header>
      <h1>NC Aquarium</h1>
    </header>

    <div id="events">
      <div id='click'>
        <h1>Events:</h1>
      </div>
      <ul>
      <script type='text/template' id='event-template'>
        <li><%= eventname %></li>
      </script>
      </ul>
      <div id="hide">
        <p>Hide</p>
      </div>
    </div>

    <section>
      <nav>
        <a href="#/fish" id="fish">Fishies</a>
        <a href="#/rare-fish" id="rare-fish">Rare Fishies</a>
      </nav>
    </section>




    <div id="animals">
      <div class="animalContainer">
      <script type="text/template" id="target-template">
        <img src="<%= imgurl %>"/>
        <ul>
          <li><%= name %></li>
          <li><%= age %></li>
          <li><%= bio %></li>
        </ul>
      </script>
      </div>
    </div>

    <div id="fishies">
      <div class="fishContainer">
        <script type="text/template" id="fish-template">
          <img src="<%= imgurl %>"/>
          <ul>
            <li><%= name %></li>
            <li><%= age %></li>
            <li><%= bio %></li>
          </ul>
        </script>
      </div>
    </div>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <script src="../bower_components/backbone/backbone.js"></script>
    <script src="../bower_components/backbone-localstorage/backbone-localstorage.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
