<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Aquarium App</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <header>
      <h1>NC Aquarium</h1>
      <div id='side'>
        <button><a href="#/apply">Apply</a></button>
        <!-- <button><a href='#/contact'>Contact</a></button> -->
        <button><a href='#/member'>Membership</a></button>
        <button><a href="#/fish">Kids</a></button>
        <button><a href="#/events">Events</a></button>
      </div>
    </header>

    <!-- <div id="contact">
      <script type="text/template" id="contact-template">
        <h1><%= contactName %></h1>
        <h2>Mailing Address:</h2>
        <p><%= street %></p>
        <p><%= suite %></p>
        <p><%= email %></p>
        <p><%= number %></p>
        <hr/>
      </script>
    </div> -->

    <div id="membership">
      <img src="../images/membership.png">
    </div>

    <div id="apply">
      <div>
        <h1>Open Positions:</h1>
        <h2>Roanoke Island</h2>
        <a href="">Visitor Service Cashier</a>
        <hr/>
        <h2>Pine Knoll Shores</h2>
        <a href=''>Special Activities Instructor</a>
        <hr/>
        <h2>Fort Fisher</h2>
        <p>No current available positions</p>
        <hr/>
        <h2>Jenette's Pier</h2>
        <a href="">Gift Shop Sale's Associate</a>
        <hr/>
        <h2>Raliegh Division Office</h2>
        <p>No current available positions</p>
      </div>
      <form>
        <input type="text" placeholder="Enter Your Name">
        <hr/>
        <input type="text" placeholder="Date of Birth: Ex. 00/00/0000">
        <hr/>
        <input type="text" placeholder="Enter Your Email">
        <hr/>
        <button type="submit">Submit</button>
      </form>
    </div>

    <div id="info-container">
      <div id="events">
        <h1>Events:</h1>
        <ul>
        <script type='text/template' id='event-template'>
          <li><h2><%= eventname %></h2><h3><%= date %></h3></li>
        </script>
        </ul>
      </div>

      <section id="menu">
        <h1>Click to see pictures!</h1>
        <nav>
          <a href="#/fisher" id="fisher">Fishies</a>
          <a href="#/rare-fish" id="rare-fish">Rare Fishies</a>
        </nav>
      </section>

      <div id="animals">
        <div class="animalContainer">
        <script type="text/template" id="target-template">
          <img src="<%= imgurl %>"/>
          <ul>
            <li><%= name %></li>
            <li><%= age %></li>
            <li><%= bio %></li>
          </ul>
        </script>
        </div>
      </div>

      <div id="fishies">
        <div class="fishContainer">
          <script type="text/template" id="fish-template">
            <img src="<%= imgurl %>"/>
            <ul>
              <li><%= name %></li>
              <li><%= age %></li>
              <li><%= bio %></li>
            </ul>
          </script>
        </div>
      </div>
    </div>

    <footer>
      <img src="../images/logo.png">
      <div id="social">
        <button>Twitter</button>
        <button>Facebook</button>
      </div>
    </footer>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <script src="../bower_components/backbone/backbone.js"></script>
    <script src="../bower_components/backbone-localstorage/backbone-localstorage.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
